<h1>Raytracer</h1>
<p>by Sajjad Mirza</p>
<h2>Description</h2>
<p>A raytracer written in C++ involving reflective spheres.</p>
<h2>Features</h2>
<ul>
<li>Parametric spheres that can be arranged in a 3D space</li>
<li>Ray-sphere intersection</li>
<li>Phong shading to color the spheres, including multiple lights</li>
<li>Specular reflection to give the spheres mirror-like qualities</li>
</ul>
<h2>Images</h2>
<p><img src="highly_reflective_sphere.png" alt="A very reflective, mirror-like sphere.">
<img src="moderate_reflective_spheres.png" alt="Multiple, moderately reflective spheres.">
<img src="all_reflective.png" alt="All spheres reflective.">
<img src="3_lights_1_red.jpg" alt="Three lights, one of them red."></p>
<h2>Sources</h2>
<ul>
<li><a href="http://www.cs.utah.edu/~shirley/books/fcg2/rt.pdf">Freely available chapter from Fundamentals of Computer Graphics by Shirley et. al.</a></li>
<li><a href="http://graphics.stanford.edu/courses/cs148-10-summer/docs/2006--degreve--reflection_refraction.pdf">Short instructional document about reflection refraction by Bram de Greve</a></li>
</ul>
